<!-- for run the code start server with terminal "node app.js" and write on the crome http://localhost:4000/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
</head>
<body>
    <div class="box">
         <h1>ToDo List</h1>
    </div>
    <div class="box">
       <% dayej.forEach(function(items){  %>
        <form action="/delete" method="POST">
          <div class="item">
            <input type="checkbox" name="checkbox1" value="<%= items._id %>" onchange="this.form.submit()">
            <p><%= items.name  %></p>
          </div>
        </form>  
       <% }) %>
        
    <form class="item" action="/" method="POST">
        <input type="text" name="ele1" placeholder="Enter the text">
        <button type="submit">+</button>
    </form>
    </div>
</body>
</html>
