<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
        integrity="sha384-GJzZqFGwAI1e6Z1J6aO9lPkmWXBd57z4JYfRvH+v+eBefFZcXjYvJk7IWuZVpzHG" 
        crossorigin="anonymous">
  <link rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pb6obL+N1W6y5eYk4U3uoS8Jc2RW+G0ixt53IeDs6efU2J/1xC0L2Q5P" 
        crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>